<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.ProduceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.model.Produce">
        <id column="id" property="id" />
        <result column="product" property="product" />
        <result column="quantity" property="quantity" />
        <result column="supplier_name" property="supplierName" />
        <result column="supplier_contact" property="supplierContact" />
        <result column="alert_quantity" property="alertQuantity" />
        <result column="shelf" property="shelf" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product, quantity, supplier_name, supplier_contact, alert_quantity, shelf
    </sql>

</mapper>
